// List Icons
// -------------------------

.#{$fm-css-prefix}-ul {
  padding-left: 0;
  margin-left: $fm-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$fm-css-prefix}-li {
  position: absolute;
  left: -$fm-li-width;
  width: $fm-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$fm-css-prefix}-lg {
    left: -$fm-li-width + (4em / 14);
  }
}
