//# fashion warn -elevation

// Variables
// --------------------------

$fm-font-path:        "../fonts" !default;
$fm-font-size-base:   14px !default;
$fm-line-height-base: 1 !default;
//$fm-font-path:        "//at.alicdn.com/t/font_f21khl23k4uhxgvi.css";
$fm-css-prefix:       fm !default;
$fm-version:          "1.0.0" !default;
$fm-border-color:     #eee !default;
$fm-inverse:          #fff !default;
$fm-li-width:         (30em / 14) !default;

//# fashion warn +elevation
